<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="height=device-height,initial-scale=1">
  <base target="ref">
  <link rel="stylesheet" href="../simple-page.css" type="text/css">
  <link rel="stylesheet" href="../vertical-mode.css" type="text/css">
  <link rel="icon" sizes="any" href="../images/favicon.svg" type="image/svg+xml">
  <link rel="mask-icon" sizes="any" href="../images/favicon-char.svg" color="hsl(20, 100%, 60%)">
  <script src="../createTableOfContens.js"></script>
  <title>『世説新語』と正史の食い違いを拾い集める（随時更新）</title>
</head>

<body>

<article>
<h1>『世説新語』と正史の食い違いを拾い集める（随時更新）</h1>

<p>
『世説新語』と正史の食い違いを拾い集めて記録しておくページです。
『世説新語』でのお話の順序に合わせて並べます。
とりあえず手元の下書きを少しずつ清書し、その後も食い違いを見つけ次第、随時追加する予定。
</p>

<nav id="TableOfContens">〔目次〕 </nav>

<section>
<h2><a href="https://zh.wikisource.org/wiki/%E4%B8%96%E8%AA%AA%E6%96%B0%E8%AA%9E/%E5%BE%B7%E8%A1%8C">徳行篇一</a>：「登車攬轡、有澄清天下之志」とされるのは陳蕃か范滂か</h2>

<p>
『世説新語』の冒頭を飾る徳行篇一は、陳蕃について「車に登り<ruby>轡<rt>くつわ</rt></ruby>を<ruby>攬<rt>と</rt></ruby>り、天下を澄まし清むるの志有り」と記述している。
しかし、『後漢書』でこの言葉が使われているのは、<a href="https://zh.wikisource.org/wiki/%E5%BE%8C%E6%BC%A2%E6%9B%B8/%E5%8D%B767#%E8%8C%83%E6%BB%82">巻六十七・党錮列伝の中の范滂伝</a>である（「慨然」が付け足されているが）。
<a href="https://zh.wikisource.org/wiki/%E5%BE%8C%E6%BC%A2%E6%9B%B8/%E5%8D%B766#%E9%99%B3%E8%95%83">巻六十六の陳蕃伝</a>には、この言葉は出てこない。
ちなみに范滂は、『世説新語』では<a href="https://zh.wikisource.org/wiki/%E4%B8%96%E8%AA%AA%E6%96%B0%E8%AA%9E/%E8%B3%9E%E8%AD%BD">賞誉篇三</a>において言及されているのみである。
</p>

<p>以下も参考。</p>
<ul>
  <li><a href="https://kakuyomu.jp/works/1177354054884883338/episodes/1177354054892170490">「陳蕃１　　汝南の陳蕃</a>（「世説新語 on the Web」）</li>
</ul>
</section>

<section>
<h2><a href="https://zh.wikisource.org/wiki/%E4%B8%96%E8%AA%AA%E6%96%B0%E8%AA%9E/%E5%BE%B7%E8%A1%8C">徳行篇四十七</a>：韓伯の母は殷浩の姉か妹か</h2>

<p>
佐竹保子・『世説新語』劉孝標注研究会 訳注<a href="http://hdl.handle.net/10097/56219">「『世説新語』劉孝標注訳注稿(三)」</a>によると、韓伯の母は『世説新語』徳行篇四十七の注では殷浩の妹で、『晋書』巻九十の呉隠之伝では殷浩の姉。
他の箇所の記述からは姉か妹か決められない、とのこと。
</p>

<p>以下も参考。</p>
<ul>
  <li><a href="https://kakuyomu.jp/works/1177354054884883338/episodes/1177354054891313740">「韓伯２　　呉隠之を見出す」</a>（「世説新語 on the Web」）</li>
  <li><a href="https://zh.wikisource.org/wiki/%E6%99%89%E6%9B%B8/%E5%8D%B7090#%E5%90%B3%E9%9A%B1%E4%B9%8B">『晋書』巻九十・呉隠之伝</a>（Wikisource）</li>
  <li><a href="http://3guozhi.net/sy/m090.html">『晋書』巻九十</a>（「いつか読みたい晋書訳」）</li>
</ul>
</section>

<section>
<h2><a href="https://zh.wikisource.org/wiki/%E4%B8%96%E8%AA%AA%E6%96%B0%E8%AA%9E/%E6%96%87%E5%AD%B8">文学篇十八</a>：「将無同」の一言で取り立てられて「三語掾」と言われたのは誰で、取り立てたのは誰なのか</h2>

<p>
老荘思想と儒教が同じかどうかという問いに対して「将無同」（<ruby>将<rt>は</rt></ruby>た同じき無からんや）と答え、その答えの素晴らしさゆえに取り立てられ、わずか三語の答えで取り立てられたことから「三語掾」と呼ばれた人がいたそうな。
しかし、問いを発した側（取り立てた側）は誰で、答えた側（取り立てられた側）が誰なのかという点で、『世説新語』と『晋書』に食い違いがある。
</p>

<p>
『世説新語』では、問いを発した側は王衍で、答えた側は阮脩（阮修）である。
この問答は文学篇十八のエピソードの前半部であるに過ぎないのだが、それはさておき、井波律子 訳注<a href="https://www.heibonsha.co.jp/book/b165227.html">『世説新語２』</a>では、この答えのうまさを次のように評している。
</p>

<blockquote>
「将た同じき無からんや」は、同じという断定を留保し、「まあ同じといっていいのではないでしょうか」と、会話の相手に最終的な判断をゆだねる巧妙ないいまわしである。
</blockquote>

<p>
言い回しの妙は発言者によらないのかもしれないが、<a href="https://zh.wikisource.org/wiki/%E6%99%89%E6%9B%B8/%E5%8D%B7049#-{%E5%92%B8}-%E5%AD%90_%E7%9E%BB">『晋書』巻四十九の阮瞻伝</a>では、問いを発した側は王戎で、答えた側は阮瞻である。
ちなみに、王戎は王衍のいとこ。
</p>

<p>
ここから話は少し脱線するのだが、阮瞻と阮脩の具体的な関係は曖昧なようで、素人のわたしには謎である（ご教示いただければ幸いです）。
一応、理解したところを書いておくと、阮瞻の祖父の弟が竹林七賢の阮籍で、阮脩は「阮籍の従子」。
普通、「従子」は兄弟の子を指すが、父方のいとこの子を「従子」という場合もある（たとえば<a href="http://gishinnanboku.blog.fc2.com/blog-entry-1552.html">「魏晋南北ブログ 陸康の従子」</a>を参照）。
阮脩の父が不明なので、どちらの意味かは分からず、「阮脩は阮瞻から見て父親世代に当たる親類」というくらいまでしか絞り込めない。
<a href="https://archive.org/details/02077752.cn/page/n54/mode/2up">『晉書斠注(三十五)』</a>を見ると、阮籍伝の附伝のタイトルとして「從子脩」と書いてあるから、阮脩は阮籍の従子なのかな、とは思うものの、本文には阮脩と他の阮氏との続柄が明記されていないようである。
</p>
<p>
さらに判断に困ることに、阮脩は阮咸（阮瞻の父。阮籍の兄の子）の従子だと書いてあるサイトもあるのだ。
もしそうなら、阮脩は阮瞻のいとこ（少なくとも同世代の親類）ということになる。
これを一概に「あやしいネット情報だ」と切り捨てづらいのは、<a href="https://zh.wikisource.org/wiki/%E8%92%99%E6%B1%82">「蒙求」</a>の「阮宣杖頭」の句の注も、阮脩を阮咸の従子としている（少なくとも、そう書いている書籍が存在する）ためである。
たとえば、塚本哲三 編<a href="https://dl.ndl.go.jp/info:ndljp/pid/958947/128">『漢文叢書 第一 蒙求』</a>には
「晉書にいふ、阮脩字は宣子、咸が從子なり」
とあり、久保天随 校訂<a href="https://dl.ndl.go.jp/info:ndljp/pid/950174/154">『漢文叢書 第七冊 補註蒙求国字解注』</a>も同様に
「晉書、阮修、字は宣子、咸の從子なり」
としている。
</p>
<p>
だが、Wikisourceの<a href="https://zh.wikisource.org/wiki/%E8%92%99%E6%B1%82%E9%9B%86%E8%A8%BB_(%E5%9B%9B%E5%BA%AB%E5%85%A8%E6%9B%B8%E6%9C%AC)/%E5%8D%B7%E4%B8%8A#%E9%98%AE%E4%BF%AE%E6%9D%96%E9%A0%AD%E7%95%A2%E5%8D%93%E7%94%95%E4%B8%8B">『蒙求集註』（四庫全書本）</a>には
「晉書阮修字宣子咸從弟也」
とあり、「從子」でなく「從弟」と書かれている。
これだと阮脩は阮咸（阮籍の兄の子）の年下のいとこということになるから、「阮籍の従子」とは矛盾せず「阮咸の従子」とは矛盾する。
</p>

<p>
そういうわけで、阮瞻と阮脩の具体的な続柄には分からない点があるものの、「三語掾」の話は、『世説新語』では王衍と阮脩のもの、『晋書』では王戎と阮瞻のものである（これでやっと話が本筋に戻った）。
</p>

<p>
なお、余嘉錫<a href="https://ctext.org/wiki.pl?if=gb&chapter=452968#p240">『世説新語箋疏』</a>では、「唐修晉書喜用世說，此獨與世說不同，知其必有所考矣」（唐修の『晉書』は喜びて『世說』を用ゐるも、此れ獨り『世說』と同じからず。其の必ずや考ふる所有るべきことを知る）と言っている。
「あちこちで『世説新語』の話を採用しているくせして、ここは『世説新語』と違うんだから、何か根拠があったはず」というわけだから、要するに、『晋書』の王戎と阮瞻の組み合わせの方が正しいのではないか、と推測していると言える。
<a href="https://zh.wikisource.org/wiki/%E8%92%99%E6%B1%82">「蒙求」</a>も実はその立場で書かれており、<a href="https://dl.ndl.go.jp/info:ndljp/pid/958947/78">「阮瞻三語」という句がある</a>。
<a href="https://dl.ndl.go.jp/info:ndljp/pid/1239900/170">『資治通鑑』巻八十二</a>でも、「三語掾」の話は王戎と阮瞻のものとしている。
</p>

<p>
ちなみに、『世説新語』での王衍と阮脩の組み合わせを逆に『晋書』で探してみると、<a href="https://zh.wikisource.org/wiki/%E6%99%89%E6%9B%B8/%E5%8D%B7049#-{%E5%92%B8}-%E5%BE%9E%E5%AD%90_%E8%84%A9">巻四十九の阮脩伝</a>に、阮脩と王衍が易について議論して王衍が嘆服した話が見つかる。
また、『晋書』での王戎と阮瞻の組み合わせを逆に『世説新語』で探してみると、二人が直接的に絡む話はなく、竹林七賢の子供たちを列挙した話（<a href="https://zh.wikisource.org/wiki/%E4%B8%96%E8%AA%AA%E6%96%B0%E8%AA%9E/%E8%B3%9E%E8%AD%BD">賞誉篇二十九</a>）に両者の名前が揃って出てくるのみである。
</p>

<p>以下も参考。</p>
<ul>
  <li><a href="https://kakuyomu.jp/works/1177354054884883338/episodes/1177354054890074253">衛玠３　　阮脩とバトる</a>（「世説新語 on the Web」）</li>
</ul>
</section>

<section>
<h2><a href="https://zh.wikisource.org/wiki/%E4%B8%96%E8%AA%AA%E6%96%B0%E8%AA%9E/%E8%AD%98%E9%91%92">識鑒篇一</a>：曹操に「乱世の○○」「治世の○○」と言ったのは誰で、何と言ったのか</h2>

<p>
別の人から似たような言い回しで微妙に違うことを言われただけ、という可能性もあるが、曹操に「乱世の○○」「治世の○○」と言ったのは誰なのか、また、「○○」のところに具体的に何という言葉が入るのか、あるいはそもそも曹操にそんなふうに言った人がいたのか、という点を見ていくと、いろいろと違う記述があることに気づく。
</p>

<p>
『世説新語』では、喬玄（橋玄）が「亂世之英雄，治世之姦賊」と言っている。
「治世の姦賊」と聞くと、いかにも「曹操って悪役なんですね」という印象を受ける。
</p>

<p>
<a href="https://zh.wikisource.org/wiki/%E4%B8%89%E5%9C%8B%E5%BF%97/%E5%8D%B701">『三国志』巻一・武帝紀</a>では、橋玄は「天下將亂，非命世之才不能濟也，能安之者，其在君乎！」と褒めちぎっている。
<a href="https://zh.wikisource.org/wiki/%E5%BE%8C%E6%BC%A2%E6%9B%B8/%E5%8D%B751#%E6%A9%8B%E7%8E%84">『後漢書』巻五十一・橋玄伝</a>では「今天下將亂，安生民者其在君乎！」と言っている。
表現が少し異なるが、趣旨は同じだろう。
しかしいずれも、「乱世の○○」「治世の○○」とは言っていない。
</p>

<p>
<a href="https://zh.wikisource.org/wiki/%E4%B8%89%E5%9C%8B%E5%BF%97/%E5%8D%B701">『三国志』巻一</a>の裴松之注が引く孫盛の『異同雑語』では、許劭が「子治世之能臣，亂世之姦雄。」と言っている。
『世説新語』と比べると、そもそも発言者が違い、「乱世」と「治世」について述べる順序も逆であり、「乱世の○○」「治世の○○」の「○○」のところに入る言葉自体も違う。
「乱世の英雄、治世の姦賊」だと、乱世でプラス評価、治世でマイナス評価なのに対し、「治世の能臣、乱世の姦雄」だと、乱世でプラスとマイナス両方を含んだ評価、治世でプラス評価のように思える。
</p>

<p>
以上のように、曹操は喬玄と許劭のどちらに評されたのか、その具体的な評語は何であったのかに関して、微妙に食い違ういくつかの記録がある。
そのため、<a href="https://zh.wikisource.org/wiki/%E4%B8%96%E8%AA%AA%E6%96%B0%E8%AA%9E/%E8%AD%98%E9%91%92">『世説新語』の劉孝標注</a>では、最後に「世說所言謬矣。」と述べ、『世説新語』の記載は誤りだと判断している。
</p>

<p>
ちなみに、井波律子 訳注<a href="https://www.heibonsha.co.jp/book/b165227.html">『世説新語２』</a>では、次のように解説されている。
</p>

<blockquote>
後漢末の状況が乱世にさしかかっているのは、当時の人々の共通の認識であった以上、喬（橋）玄の評語は、曹操の未来に「乱世の英雄」を予見した積極的評価であり、許劭のそれは、曹操の未来に「乱世の姦雄」を見たものの衝撃を含む。
</blockquote>

<p>
そうすると、喬玄の評語については「治世の姦賊」よりも「乱世の英雄」を重視すべきなのかもしれない。まあ、とにかくいろいろな記録があって、何が何やら、素人には手に負えないのであった。
</p>

<p>以下も参考。</p>
<ul>
  <li><a href="https://kakuyomu.jp/works/1177354054884883338/episodes/1177354054884889718">曹操２　　化物じみた鑑識眼</a>（「世説新語 on the Web」）</li>
  <li><a href="https://ctext.org/wiki.pl?if=gb&chapter=634341#p493">『世説新語箋疏』</a></li>
</ul>
</section>


</article>

</body>
</html>
