@import url("../simple-page.css");
@import url("../vertical-mode.css");

:root {
  --key-fg: hsl(120, 10%, 65%);
  --key-bg: hsl(120, 10%, 25%);
  --mark-fg: hsl(40, 30%, 65%);
  --mark-bg: hsl(40, 30%, 25%);
  --doc-item-name-in-ref-list-fg: hsl(40, 30%, 65%);
  text-orientation: upright;
}

span.keystr {
  background: var(--key-bg);
  color: var(--key-fg);
  margin-top: 1em;
  padding-top: 4pt;
  padding-top: 4pt;
}

ul {
  padding-top: 1em;
  list-style-type: circle;
}

mark {
  background: var(--mark-bg);
  color: var(--mark-fg);
}

ul.ref {
  list-style-type: none;
}
#ref-list summary {
  color: var(--doc-item-name-in-ref-list-fg);
}
table.ref {
  display: inline-table;
  margin-left: 1em;
}
table.ref th, table.ref td {
  vertical-align: top;
  padding: 4pt;
  height: 25em;
}
table.ref th {
  background: hsl(120, 8%, 25%);
}
table.ref th a {
  text-decoration-line: underline;
  -webkit-text-decoration-line: underline;
}
table.ref td.cn {
  line-height: 160%;
}
table.ref td.memo {
  background: inherit;
  line-height: 200%;
}
nav::before {
  content: "［";
}
nav::after {
  content: "］";
}