@import url("../simple-page.css");

body {
  padding: 0;
}

:root {
  --emoji-as-bg-img-font-size: 24pt;
  --margin-for-emoji-as-bg-img: 16pt;
}
#bg-left-top, #bg-right-top {
  z-index: -1;
  font-size: var(--emoji-as-bg-img-font-size);
  font-family: emoji;
  position: sticky;
  top: 0;
  height: 1em;
  white-space: pre;
  line-height: 100%;
  filter: hue-rotate(-120deg) grayscale(30%);
}
#bg-left-top {
  left: 0;
  text-align: left;
  margin-top: 0;
  margin-left: var(--margin-for-emoji-as-bg-img);
}
#bg-right-top {
  right: 0;
  text-align: right;
  margin-top: calc(0pt - var(--emoji-as-bg-img-font-size));
  margin-right: var(--margin-for-emoji-as-bg-img);
}
#article-wrapper {
  z-index: 0;
  background: var(--bg);
  --wrapper-margin: calc(
    var(--margin-for-emoji-as-bg-img) + 
    var(--emoji-as-bg-img-font-size)
  );
  margin-left: var(--wrapper-margin);
  margin-right: var(--wrapper-margin);
  padding-left: 2em;
  padding-right: 2em;
}
