@import url("../simple-page.css");

/* cancel the background color defined by ../simple-page.css */
tbody > tr:nth-child(2n) > td {
  background: inherit;
}


/* additional definitions */
:root {
  --boundary-border-color: hsl(120, 40%, 28%);
  --spread-pages-border: solid 2px hsl(60, 80%, 20%);
  --page-bg: hsla(60, 40%, 80%, 0.1);
}

h2 {
  counter-increment: sec-No;
}
h2::before {
  content: "("  counter(sec-No, decimal)  ") ";
}

#map-container {
  width: calc(100vw - max(2em, 5vw) * 2); 
  max-height: calc(100vh - 2em); 
  overflow: auto; 
  border: solid 2px var(--boundary-border-color);
  padding: 0;
  scrollbar-width: thin;
}

table {
  border-collapse: collapse;
  margin: 0;
  border: solid 2px var(--boundary-border-color);
}
#western_regions {
  margin-right: auto;
  margin-left: auto;
}
td {
  padding: 0;
  border: solid 1px var(--boundary-border-color);
}

div.area {
  display: inline-grid;
  grid-template-areas:
    "area-index   area-index"
    "western-half eastern-half";
  row-gap: 0;
  column-gap: 4pt;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 4pt;
}

div.area-index {
  grid-area: area-index;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2pt;
  margin-bottom: 0;
  padding-bottom: 0;
}
div.western-half, div.eastern-half {
  background: var(--page-bg);
  padding: 4pt;
  width: 5em;
  border-top: var(--spread-pages-border);
  border-bottom: var(--spread-pages-border);
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
div.western-half {
  grid-area: western-half;
  border-right: var(--spread-pages-border);
  border-left: none;
  border-top-right-radius: 1ex;
  border-bottom-right-radius: 1ex;
}
div.eastern-half {
  grid-area: eastern-half;
  border-right: none;
  border-left: var(--spread-pages-border);
  border-top-left-radius: 1ex;
  border-bottom-left-radius: 1ex;
}
div.dummy-half {
  width: calc(5em + 4pt * 2 + 2px);
  height: 2.5em;
}
.abbr {
  border: dotted 1px;
  border-radius: 1em;
  text-decoration: none;
  padding: 2pt;
}
