@import url("../simple-page.css");

details details {
  margin-left: 2em;
}
details details table {
  margin-left: 2em;
}
summary {
  font-weight: bold;
}

td {
  padding: 4pt;
  vertical-align: top;
}

table.map4x3 {
  border-collapse: collapse;
  width: 95%;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
table.map4x3 td {
  width: 33%;
  font-family: STFangsong, fangsong, serif;
  --tbl-border: hsl(120, 15%, 35%);
}
table.map4x3 td span {
  white-space: nowrap;
  margin-right: 1em;
}
table.map4x3 tr:nth-child(2n+1) td:nth-child(2n+1),
table.map4x3 tr:nth-child(2n) td:nth-child(2n) {
  background: var(--td-even-row-bg);
}
table.map4x3 tr:nth-child(2n+1) td:nth-child(2n),
table.map4x3 tr:nth-child(2n) td:nth-child(2n+1) {
  background: var(--bg);
}
