@import url("simple-page.css");


@media screen and (min-width: 600px) {
  body {
    padding: 1em;
  }
  #container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-template-areas:
      "header header"
      "chronologically-grouped others"
      "footer footer"
  }
  
  header {
    grid-area: header;
  }
  #chronologically-grouped {
    grid-area: chronologically-grouped;
  }
  #others {
    grid-area: others;
  }
  nav {
    grid-area: footer;
  }
}
