@import url("simple-page.css");
@import url("vertical-mode.css");

p.orig {
  font-family: STFangsong, FangSong, fangsong, serif;
}
p.kun {
  margin-top: 2em;
  line-height: 200%;
}
p.note {
  margin-top: 4em;
  line-height: 200%;
}
p.memo {
  margin-top: 6em;
}
p.note::before {
  content: "校勘記📝 ";
  color: hsl(120, 13%, 50%);
}
p.memo::before {
  content: "メモ📝 ";
  color: hsl(120, 13%, 50%);
}
span.ref {
  text-decoration-line: overline;
  -webkit-text-decoration-line: underline;
  text-decoration-color: hsl(120, 40%, 70%);
}
ruby.note {
  ruby-align: start;
  ruby-position: under;
  -webkit-ruby-position: after;
}
span.inline-note {
  color: hsl(40, 24%, 70%);
  font-size: smaller;
}
span.inline-note::before {
  content: "〈";
}
span.inline-note::after {
  content: "〉";
}