:root {
  --fg: hsl(120, 3%, 70%);
  --bg: hsl(120, 3%, 18%);
  --link: hsl(120, 20%, 65%);
  --hover-fg: hsl(40, 80%, 15%);
  --hover-bg: hsl(40, 60%, 55%);
  --sel-fg: hsl(120, 40%, 70%);
  --sel-bg: hsl(120, 40%, 25%);
  --headline: hsl(60, 20%, 70%);
  --toc-bg: hsla(120, 40%, 65%, 0.1);
  --dt: hsl(40, 33%, 70%);
  --tbl-border: hsl(120, 3%, 35%);
  --th-bg: hsl(40, 16%, 20%);
  --td-even-row-bg: hsl(120, 3%, 22%);
  --quote-bg: rgba(100, 100, 100, 0.15);
  --quote-border: hsl(60, 20%, 40%);
  --tweet-border: hsl(60, 100%, 30%);
  --details-toggle-fg: hsl(60, 15%, 70%);
  scrollbar-width: thin;
  --em-dot: hsl(120, 70%, 60%);
  --scrollbar-bg: hsl(60, 30%, 30%);
  --scrollbar-thumb: hsl(60, 13%, 60%);
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: var(--scrollbar-bg);
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--scrollbar-thumb);
}
::selection {
  color: var(--sel-fg); 
  background: var(--sel-bg); 
}

body {
  color: var(--fg);
  background: var(--bg);
  padding-right: max(2em, 5vw);
  padding-left: max(2em, 5vw);
  padding-top: 1em;
  padding-bottom: 1em;
}
h1, h2, h3 {
  text-align: center;
  color: var(--headline);
  padding: 0.5ex;
}
h1 {
  font-size: x-large;
}
h2 {
  font-size: large;
}
h3 {
  font-size: medium;
}
a {
  color: var(--link);
}
a:hover {
  color: var(--hover-fg);
  background: var(--hover-bg);
  text-decoration: none;
}
p {
  text-indent: 1em;
}
p > code {
  display: inline;
}
nav {
  text-align: right;
}
nav::before {
  content: "[ ";
}
nav::after {
  content: " ]";
}
/* This ID is for a nav element used as a table of contents within a page. */
#TableOfContens {
  background: var(--toc-bg);
  text-align: left;
  padding: 1ex;
  border-radius: 1em;
}
#TableOfContens::before, #TableOfContens::after {
  content: none;
}
#TableOfContens a {
  text-decoration: none;
  margin-right: 2em;
}
#TableOfContens ul {
  margin: 0;
}

dl.toc > dt {
  color: var(--dt);
  margin-top: 1em;
}
dl.toc > dd {
  margin-left: 1em;
}
dl.toc > dd ul {
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
dl.toc > dd > ul > li {
  padding-left: 0;
}

div.tweet-wrapper {
  border: solid 1px var(--tweet-border);
  border-left-width: 6px;
  border-radius: 1em;
  padding-left: 1em;
}
div.center {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
th, td {
  border: solid 1px var(--tbl-border);
  padding-top: 2pt;
  padding-bottom: 2pt;
  padding-left: 1ex;
  padding-right: 1ex;
}
table.center th, table.center td {
  text-align: center;
}
th {
  background: var(--th-bg);
}
tbody > tr:nth-child(2n) > td {
  background: var(--td-even-row-bg);
}

blockquote {
  text-indent: 1em;
  padding: 1em;
  border-radius: 1em;
  border: solid 1px var(--quote-border);
  background: var(--quote-bg);
}
blockquote blockquote {
  margin: 0;
  padding: 2em 0 0 0;
  border: none;
  background: none;
}
blockquote.no-indent {
  text-indent: 0;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
details > summary::after {
  content: "詳細を表示";
  color: var(--details-toggle-fg);
  padding: 4pt;
  margin-left: 1ex;
  border-radius: 1em;
  border: dotted 1px;
  font-size: smaller;
}
details[open] > summary::after {
  content: "詳細を隠す";
}

rt {
  font-size: 50%;
}
.double-spaced {
  line-height: 200%;
}

figure {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
figcaption {
  padding-left: 2em;
  padding-right: 2em;
  text-align: left;
  display: inline-block;
}

em {
  font-style: normal;
  -webkit-text-emphasis: filled dot var(--em-dot);
  text-emphasis: filled dot var(--em-dot);
}

img {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

img.glyph {
  width: 1em;
  height: 1em;
  vertical-align: text-top;
  display: inline;
  margin: 0;
}
img.glyph.fg {
  filter: invert(100%) brightness(58%) sepia(100%) hue-rotate(81.45deg) saturate(8%);
}
