:root {
  writing-mode: vertical-rl;
}
body {
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  line-height: 160%;
}
a {
  text-decoration-line: overline;
  -webkit-text-decoration-line: underline;
}

h1 {
  text-align: left;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-right: 1.5em;
}
h2, h3 {
  text-align: left;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-right: 1.5em;
}

#TableOfContens a {
  margin-right: 0;
  margin-bottom: 2em;
}

img.glyph {
  vertical-align: baseline;
}
