@import url("../simple-page.css");

:root {
  --accent: hsl(120, 35%, 60%);
}


#radicals {
  border-radius: 1em;
  border: dotted 1px var(--accent);
  padding: 1ex;
}
span {
  white-space: nowrap;
}
span.num {
  color: var(--accent);
}
span.note {
  color: var(--fg);
  font-size: small;
  margin-left: -4pt;
}
span.rad {
  color: var(--fg);
  font-size: large;
  padding: 2pt 4pt 2pt 4pt;
  border-radius: 4pt;
}
span.rad:hover {
  background: var(--fg);
  color: var(--bg);
}

button {
  border-radius: 1em;
  font: inherit;
  color: var(--bg);
  background: var(--fg);
}
input[type="text"] {
  background: var(--fg);
}
