circle {
  fill: hsl(50, 100%, 90%);
  stroke: hsl(30, 100%, 60%);
  stroke-width: 1;
}
text {
  font-family: "Songti TC", "Songti SC", STFangSong, "Kaiti TC", "Kaiti SC", MingLiU, FangSong, serif;
}
text.ch {
  fill: hsl(30, 100%, 15%);
  font-size: 16px;
}
text.desc {
  fill: hsl(30, 100%, 15%);
  font-size: 12px;
}
line {
  stroke-width: 2;
  stroke: hsl(30, 100%, 60%);
}

