@import url("../simple-page.css");
p.chars {
  text-indent: 0;
  border: hsl(120, 30%, 45%) 1px solid;
  border-radius: 8pt;
  padding: 1ex;
}
p.chars a {
  text-underline-offset: 4pt;
  text-decoration-color: hsl(120, 30%, 45%);
  padding: 4pt;
}
