body {
  background: lavender;
  color: dimgray;
  padding: 1em;
  writing-mode: vertical-rl;
  line-height: 150%;
}
p {
  text-indent: 1em;
}
blockquote {
  background: azure;
  padding: 1em;
  text-indent: 1em;
  line-height: 200%;
}
em.line {
  text-emphasis: none;
  font-style: normal;
  margin: -2px 0;
}
span.noun-frame {
  margin: 2px 0;
  border-left: solid 1.5px;
  border-right: none;
  border-top: none;
  border-bottom: none;
  padding-left: 2px;
}

.color span.noun-frame.official {
  border-color: limegreen;
}
.color span.noun-frame.title {
  border-color: blue;
}
.color span.noun-frame.name {
  border-color: deeppink;
}
.color span.noun-frame.location {
  border-color: peru;
}
.black-and-white span.noun-frame.official {
  border-left-style: dotted;
  border-left-width: 1.5px;
}
.black-and-white span.noun-frame.title {
  border-left-style: dashed;
  border-left-width: 2px;
}
.black-and-white span.noun-frame.name {
  border-left-style: double;
  border-left-width: 4px;
}
.black-and-white span.noun-frame.location {
  border-left-style: solid;
  border-left-width: 2px;
}

