@import url("../snowballing.css");

tbody > tr:nth-child(2n) > td {
  background: inherit;
}

tr.even-row > td.ce,
tr.even-row > td.era,
tr.even-row > td.year,
tr.even-row > td.count,
tr.even-row > td.yyyymmdd,
tr.even-row > td.rec {
  background: var(--td-even-row-bg);
}


td.ce, td.era, td.count, td.rec {
  border-left: solid 1px var(--tbl-border);
}
td.rec {
  border-right: solid 1px var(--tbl-border);
}
tr.former-era > td {
  border-bottom: none;
}
tr.former-era > td.ce {
  border-bottom: solid 1px var(--tbl-border);
}
tr.latter-era > td {
  border-top-style: dashed;
  border-top-width: 1px;
}
td.ce {
  text-align: right;
}

td.era {
  padding-right: 0;
  border-right: none;
}
td.year {
  padding-left: 0;
  border-left: none;
}
td.era, td.year {
  text-align: right;
  white-space: nowrap;
}

td.count {
  color: hsl(40, 70%, 70%);
  border-right: none;
}

td.yyyymmdd {
  white-space: nowrap;
  padding-left: 0;
  border-left: none;
}
td.rec {
  width: 24em;
}
em {
  background: hsl(40, 50%, 15%);
  -webkit-text-emphasis: none;
  text-emphasis: none;
}

span.note {
  font-size: smaller;
  color: hsl(40, 30%, 70%);
  user-select: none;
}
span.note::before {
  content: "（";
}
span.note::after {
  content: "）";
}
