@import url("../simple-page.css");
@import url("../vertical-mode.css");


dl.toc dd {
  margin-top: 2em;
}
dl.toc.aiueo dt {
  margin-top: 1em;
  float: left;
}
dl.toc.aiueo dd {
  margin-top: 2em;
}
dl.toc.family dd {
  margin-top: 0;
}
dl.toc.family dd ul, 
dl.toc.family dd dl.toc.family {
  margin: 0;
}
dl.toc.family dd dl.toc.family dt {
  text-indent: 1.5em;
}
dl.toc.family dd dl.toc.family dd {
  margin-left: 0;
}
a.off {
 pointer-events: none;
 cursor: default;
 text-decoration: none;
 color: inherit;
}
dd a {
  margin-top: 1em;
  white-space: nowrap;
}
dl.toc.family dd a {
  margin-top: 0;
}

h2.individual, h3.individual {
  counter-increment: individual-No;
  font-weight: normal;
  padding-top: 0;
}
h3.individual {
  font-size: large;
}
h2.individual::before, h3.individual::before {
  content: counter(individual-No, decimal);
  letter-spacing: 0;
  padding-bottom: 1em;
  font-family: serif;
  display: inline-block;
  writing-mode: horizontal-tb;
}
h2.individual.extra::after, h3.individual.extra::after {
  content: "《おまけ》";
  color: var(--fg);
  font-size: medium;
}
section {
  counter-reset: individual-No;
}
section > div.sec {
  padding-left: 1em;
  margin-left: 1em;
  border-left: solid 1px hsl(120, 30%, 35%);
}

span.vol, span.num {
  -webkit-text-combine: horizontal;
  text-combine-upright: all;
}
