body {
  background: white;
  color: dimgrey;
  padding-bottom: 48em;
}
a {
  text-decoration: none;
  color: palevioletred;
}
a:hover {
  background: palevioletred;
  color: white;
}

h1 {
  text-align: center;
  background: lavenderblush;
  border-radius: 1em;
}
table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid palevioletred;
}

td {
  text-align: center;
  white-space: nowrap;
  border: 1px solid palevioletred;
  padding: 2pt;
}
td:nth-child(5n+1) {
  border-right-width: 2px;
}
tr.heading > td {
  background: lavenderblush;
  border-top-width: 2px;
  border-bottom-width: 2px;
}
tr.even > td {
  background: lightcyan;
}
tr.odd > td {
  background: lemonchiffon;
}
