@import url("../simple-page.css");
td.R {
  text-align: right;
  white-space: nowrap;
  background: hsl(120, 13%, 22%) !important;
}
td.L {
  text-align: left;
}
td.L a {
  padding-left: 1ex;
  padding-right: 1ex;
  white-space: nowrap;
}
