:root {
  --body-bg: rgb(52, 48, 42);
  --body-font-size: 14pt;
}

body {
  background: var(--body-bg);
  color: rgb(200, 200, 200);
  writing-mode: horizontal-tb;
  padding: 0;
  font-family: Georgia, Times, "游明朝体+36ポかな", 游明朝体, 游教科書体, "ヒラギノ明朝 ProN", 筑紫B丸ゴシック, クレー, serif;
  font-size: var(--body-font-size);
}

a {
  text-decoration: none;
  color: rgb(55, 55, 210);
}
a:hover {
  background: rgb(185, 185, 255)
}

ruby {
  ruby-align: center;
}

div.book {
  width: 54em;
  padding: 0;
}

div.cover {
  --cover-base: rgb(30, 80, 60);
  --cover-dark: rgb(20, 60, 45);
  --cover-darkest: rgb(16, 48, 36);
  background: linear-gradient(to right, 
    var(--cover-base),
    var(--cover-base) 35%,
    var(--cover-dark) 47%,
    var(--cover-darkest) 48.5%,
    var(--cover-darkest) 49%,
    var(--cover-dark) 49.96%,
    var(--body-bg) 50%,
    var(--body-bg));
  color: rgb(35, 35, 20);
}

div.two-page-spread {
  --page-darkest: rgb(170, 170, 165);
  --page-dark: rgb(190, 190, 185);
  --page-bright: rgb(220, 220, 215);
  --page-brightest: rgb(240, 240, 235);
  background: linear-gradient(to right, 
    var(--page-dark),
    var(--page-bright) 10%,
    var(--page-brightest) 17%,
    var(--page-brightest) 30%,
    var(--page-bright) 42%,
    var(--page-dark) 48%,
    var(--page-darkest) 49.8%,
    var(--page-darkest) 50.2%,
    var(--page-dark) 52%,
    var(--page-bright) 58%,
    var(--page-brightest) 70%,
    var(--page-brightest) 83%,
    var(--page-bright) 90%,
    var(--page-dark));
  color: rgb(35, 35, 20);
}

div.cover, div.two-page-spread {
  display: inline-block;
  height: 35em;
  width: 50em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 2em;
  margin-left: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-right: 0;
  padding-left: 0;
  writing-mode: vertical-rl;
}

div.two-page-spread > p, div.two-page-spread > div {
  writing-mode: vertical-rl;
  width: 18em;
  line-height: 200%;
  margin: 0;
  padding: 0;
}

div.two-page-spread > div.right-page {
  white-space: pre;
  padding-right: 3em;
  padding-left: 4em;
}

div.two-page-spread > div.left-page {
  white-space: pre;
  padding-right: 4em;
  padding-left: 3em;
}

h1, h2 {
  font-family: 筑紫B丸ゴシック, 筑紫A丸ゴシック, "ヒラギノ角ゴシック", クレー, "ヒラギノ丸ゴ ProN", sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  text-orientation: upright;
}

div.cover > h1, 
div.two-page-spread > h1 {
  font-size: 24pt;
  writing-mode: vertical-rl;
  width: calc(var(--body-font-size) * 8);
  margin: 0;
  padding-right: calc(var(--body-font-size) * 42);
}

div.cover > h1 {
  color: rgb(180, 240, 240);
}
div.two-page-spread > h1,
div.two-page-spread > div > h2 {
  color: rgb(160, 20, 80);
}

div.two-page-spread > div > h2 {
  display: inline;
  font-size: var(--body-font-size);;
  padding-top: 2em;
  writing-mode: vertical-rl;
}
